[submodule "config/nvim/pack/colors/start/vim-airline-themes"]
	path = config/nvim/pack/colors/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "config/nvim/pack/colors/start/vim-code-dark"]
	path = config/nvim/pack/colors/start/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark.git
[submodule "config/nvim/pack/plugins/start/emmet-vim"]
	path = config/nvim/pack/plugins/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "config/nvim/pack/plugins/start/fern-renderer-nerdfont.vim"]
	path = config/nvim/pack/plugins/start/fern-renderer-nerdfont.vim
	url = https://github.com/lambdalisue/fern-renderer-nerdfont.vim.git
[submodule "config/nvim/pack/plugins/start/fern.vim"]
	path = config/nvim/pack/plugins/start/fern.vim
	url = https://github.com/lambdalisue/fern.vim.git
[submodule "config/nvim/pack/plugins/start/goyo.vim"]
	path = config/nvim/pack/plugins/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "config/nvim/pack/plugins/start/nerdfont.vim"]
	path = config/nvim/pack/plugins/start/nerdfont.vim
	url = https://github.com/lambdalisue/nerdfont.vim.git
[submodule "config/nvim/pack/plugins/start/undotree"]
	path = config/nvim/pack/plugins/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "config/nvim/pack/plugins/start/vim-airline"]
	path = config/nvim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "config/nvim/pack/plugins/start/vim-closetag"]
	path = config/nvim/pack/plugins/start/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
